.selectContainer {
    min-width: 25rem;
    padding-left: 0 !important;
    border-radius: 0.3125rem;
    border: 2px solid #C6CCD4;
}

.selectContainer:focus-within, .selectContainer:active {
    border: 2px solid #4f5d75;
}

.selectContainer [class$="-control"]  {
    padding: 0rem 1rem
}

.selectContainer [class$="-menu"] {
    margin-top: .5rem;
    border-radius: 0.3125rem;
    background: #fff;
    border: solid 1px #e5e7eb;
    box-shadow: 0px 11px 24px rgba(138, 138, 138, .1);
    overflow: hidden;
}

[data-theme='dark'] .selectContainer [class$="-menu"] {
    background: #262a38;
}

.selectContainer [class$="-option"] {
    padding: .5rem;
}

.selectContainer [class$="-option"]:hover, .selectContainer [class$="-option"]:active, .selectContainer [class$="-option"]:focus-within {
    background: #262a38;
    color: #fff;
}

.selectContainer [class$="-multiValue"] {
    margin-right: .275rem;
    background: #e6e6e6;
    border-radius: 0.3125rem;
    padding: 0 0 0 .5rem;
}

[data-theme='dark'] .selectContainer [class$="-option"]:hover {
    
}

.selectContainer [class$="-MultiValueRemove"] {
    padding: .5rem;
    border-radius: 0 0.3125rem 0.3125rem 0;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: .2rem;
}

.selectContainer [class$="-MultiValueRemove"]:hover {
    background-color: rgb(255, 189, 173);
    color: rgb(222, 53, 11);
}
