.termLink {
  color: var(--color-primary-blue);
  text-decoration: none;
  border-top: 2px solid var(--color-off-white);
  display: block;
  padding-top: 1rem;
}
.termLink:hover {
  color: var(--color-light-teal);
  text-decoration: none;
}
.termLink h2 {
  margin-bottom: .2rem;
}
