
:local(.title) {
    text-align: center;
    width: 100%;
}


:local(.docImage) {
    filter: drop-shadow(1px 4px 10px #aaaaaa33);
    margin: 10px auto;
    display: block;
    width: 600px;
    max-width: 100%;
}

:local(.collapsed) {
    max-width: 300px !important;
    display: inline-block;
}
