
:local(.title) {
    text-align: center;
    font-size: small;
    width: 100%;
}

:local(.docImage) {
    filter: drop-shadow(4px 4px 6px #aaaaaa33);
    display: block;
    max-width: 400px;
}

:local(.collapsed) {
    max-width: 400px !important;
    display: inline-block;
}
