:local(.title) {
  text-align: center;
  font-size: small;
  width: 100%;
  display: block;
}

:local(.docImage) {
  filter: drop-shadow(4px 4px 6px #aaaaaa33);
  margin: 10px auto;
  padding-right: 10px;
  display: block;
  max-width: 80%;
}

:local(.collapsed) {
  display: inline-block;
  padding: 0 5px;
}

.leftAlignLightbox {
  margin: 10px 0;
}
.rightAlignLightbox {
  margin: 10px 0 10px auto;
}

:local(.hovered) { /* Add the . before the class name */
  filter: drop-shadow(4px 4px 6px #aaaaaae1);
  transition: transform 0.3s ease;
  z-index: 9999;
}
