# Lower entries on this list take precedence

# Anything unmatched by selectors below
*                                     @annafil @runleonarun

# Cloud docs and images are assigned to Drew
/website/docs/docs/dbt-cloud/dbt-cloud-changelog.md    @drewbanin @alexbethea22
/website/docs/docs/dbt-cloud/                          @drewbanin
/website/src/pages/dbt-cloud/                          @drewbanin
/website/static/img/docs/dbt-cloud/                    @drewbanin

# Partner Related docs assigned to Amy C
/website/docs/docs/available-adapters.md/                       @amychen1776
/website/docs/reference/warehouse-profiles/                     @amychen1776