# Lower entries on this list take precedence

# Anything unmatched by selectors below
*      @dbt-labs/product-docs

# The blog 
/website/blog @KiraFuruichi


# Adapter & Package Development Docs
/website/docs/docs/supported-data-platforms.md                @dbt-labs/product-docs @dataders
/website/docs/reference/warehouse-setups                      @dbt-labs/product-docs @dataders
# `resource-configs` contains more than just warehouse setups
/website/docs/reference/resource-configs/*-configs.md           @dbt-labs/product-docs @dataders
/website/docs/guides/advanced/adapter-development              @dbt-labs/product-docs @dataders @dbeatty10

/website/docs/guides/building-packages                          @dbt-labs/product-docs @amychen1776 @dataders @dbeatty10
/website/docs/guides/creating-new-materializations              @dbt-labs/product-docs @dataders @dbeatty10


