.author-header {
  align-items: center;
}

.author-header-left,
.author-header-right {
  padding: 20px;
}

.author-header img {
  max-width: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.author-header h1 {
  display: block;
  margin-bottom: 5px;
}

.author-header .author-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.author-header .author-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-header .author-links span {
  padding-left: 10px;
}

.author-header .author-links a {
  display: block;
  padding: 5px;
  color: var(--ifm-link-color);
}

.author-header .author-links a:first-of-type {
  padding-left: 10px;
}

.author-header .author-links i {
  font-size: 1.1rem;
}

.author-header .author-links a .social-icon > svg {
  width: 15.4px;
  fill: var(--ifm-link-color);
}
.author-header .author-links a:hover .social-icon > svg {
  fill: var(--ifm-link-hover-color);
}

.author-posts-section {
  margin-top: 2rem;
}

.author-posts .author-post {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 1rem 1rem;
}

.author-posts .author-post img {
  max-width: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.author-posts .author-post h3 {
  margin: 10px 0;
}

@media screen and (min-width: 700px) {
  .author-posts .author-post {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 997px) {
  .author-posts .author-post {
    flex: 0 0 33%;
    max-width: 33%;
  }
}
