:root {
  --ifm-color-success: #086343 !important;
  --ifm-color-info: #047377 !important;
  --ifm-color-warning: #9f1b1f !important;
  --ifm-color-danger: #a64f21 !important;
  --ifm-color-success-light: #d6f3e2 !important;
  --ifm-color-info-light: #d9f6f4 !important;
  --ifm-color-warning-light: #ffe1be !important;
  --ifm-color-danger-light: #f9d3d4 !important;
  --ifm-color-gray-900: #262a38;
  --ifm-font-weight-narrow: 400;
  --ifm-font-weight-semibold: 600;
  --ifm-font-weight-bold: 700;
  --ifm-h1-font-size: 2.5rem;
  --ifm-h2-font-size: 2.063rem;
  --ifm-h3-font-size: 1.563rem;
  --ifm-h4-font-size: 1.063rem;
  --ifm-h5-font-size: 0.938rem;
  --ifm-navbar-height: 85px;
  --ifm-navbar-link-hover-color: var(--color-orange);
  --ifm-navbar-link-active-color: var(--color-orange);
  --ifm-footer-padding-vertical: calc(var(--ifm-spacing-vertical) * 1.875);
  --ifm-footer-background-color: #4f5d75;
  --ifm-footer-color: var(--color-white);
  --ifm-link-color: #009999;
  --ifm-color-primary: #047377;
  --ifm-link-hover-color: #047377;
  --ifm-button-border-radius: 5px;
  --ifm-menu-color: #262a38;
  --ifm-menu-color-active: #009999;
  --ifm-pagination-nav-color-hover: #047377;
  --ifm-tabs-color-active: #047377;
  --ifm-menu-color-background-active: #effbfa;
  --ifm-font-family-monospace: "Source Code Pro", SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  --ifm-font-family-base: "Source Sans Pro", sans-serif;
  --ifm-heading-font-family: "Source Sans Pro", sans-serif;
  --ifm-code-padding-vertical: 0.2rem;
  --ifm-code-padding-horizontal: 0.4rem;
  --ifm-code-background: var(--ifm-color-emphasis-200);
  --ifm-navbar-item-padding-horizontal: 1rem;
  --ifm-alert-color: var(--ifm-font-color-base-inverse);
  --ifm-color-info-contrast-foreground: var(--ifm-color-gray-900);
  --ifm-alert-foreground-color: --ifm-color-gray-900;
  --ifm-toc-padding-vertical: 1rem;
  --color-primary-blue: #262a38;
  --color-green-blue: #047377;
  --color-light-teal: #009999;
  --color-light-blue: #96d7d1;
  --color-orange: #ff694a;
  --color-off-white: #eff2f3;
  --color-white: white;
  --color-nav-text: #bfc0c0;
  --color-nav-sub-level-text: #545a66;
  --color-footer-accent: #979eab;
  --docsearch-text-color: #262a38;
  --pagination-icon-next: "\2192";
  --pagination-icon-prev: "\2190";
  --filter-brightness-low: 1.1;
  --filter-brightness-high: 1.5;
  --darkmode-link-color: #1fa4a3;
  --light-dark-toggle: "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTQuMzA4IDMuMzg1YzAtMS4xNzguMTczLTIuMzcuNjE1LTMuMzg1QzEuOTgzIDEuMjggMCA0LjI4MiAwIDcuNjkyQTguMzA4IDguMzA4IDAgMCAwIDguMzA4IDE2YzMuNDEgMCA2LjQxMi0xLjk4MyA3LjY5Mi00LjkyMy0xLjAxNS40NDItMi4yMDcuNjE1LTMuMzg1LjYxNWE4LjMwOCA4LjMwOCAwIDAgMS04LjMwNy04LjMwN1oiIGZpbGw9IiM5MkEwQjMiLz48L3N2Zz4=";

  /* search overrides */
  --docsearch-searchbox-background: var(--color-white) !important;
  --docsearch-searchbox-focus-background: var(--color-white) !important;
  --docsearch-searchbox-shadow: inset 0 0 0 0 var(--docsearch-primary-color) !important;

  --docsearch-modal-background: var(--color-white) !important;
  --docsearch-modal-shadow: none;
  --docsearch-muted-color-for-keys: #eff2f3;

  --docsearch-highlight-color: var(--docsearch-muted-color) !important;
  --docsearch-muted-color: #545a66;
  --docsearch-container-background: rgba(255, 255, 255, 1) !important;

  --docsearch-key-gradient: transparent !important;
  --docsearch-key-shadow: inset 0 0 0 0 #cdcde6, inset 0 0 0 0 #fff,
    0 0 0 0 rgba(30, 35, 90, 0) !important;
  --docsearch-key-shadow: none !important;
}

/* dark theme styles!!! */
html[data-theme="dark"] {
  --ifm-navbar-background-color: var(--color-primary-blue);
  --ifm-menu-color-background-active: var(--color-primary-blue);
  --ifm-menu-color: var(--color-white);

  /* search button darkmode */
  --docsearch-muted-color: var(--color-off-white);
  --docsearch-muted-color-for-keys: var(--docsearch-muted-color);
  --docsearch-searchbox-background: var(--color-primary-blue) !important;

  /* search popup */
  --docsearch-modal-background: var(--color-primary-blue) !important;
  --docsearch-footer-background: var(--color-primary-blue) !important;
  --docsearch-searchbox-focus-background: var(--color-primary-blue) !important;
  --docsearch-highlight-color: var(--docsearch-muted-color) !important;

  /* admonition icon */
  --ifm-color-info-contrast-foreground: var(--ifm-color-gray-900);
  --ifm-table-cell-color: var(--color-green-blue);
}

/* Linked `code` tags visibility adjustment */
html[data-theme="dark"] a code {
  color: var(--darkmode-link-color);
}
html[data-theme="dark"] a code:hover {
  color: var(--darkmode-link-color);
}

/* For /dbt-cloud/api REDOC Page */
html[data-theme="dark"] .api-content h2,
html[data-theme="dark"] .api-content h3,
html[data-theme="dark"] .api-content h4,
html[data-theme="dark"] .api-content h5,
html[data-theme="dark"] .api-content h5 span,
html[data-theme="dark"] .api-content h1 {
  color: white;
}

html[data-theme="dark"] .api-content button,
html[data-theme="dark"] .api-content a {
  filter: brightness(var(--filter-brightness-low));
}

html[data-theme="dark"] .api-content a:hover {
  filter: brightness(var(--filter-brightness-low));
}

.redoc-wrap .api-content a,
.redoc-wrap .api-content a:visited {
  color: var(--color-green-blue);
}

.redoc-wrap {
  font-size: 1rem;
}

.api-content {
  font-size: 1.125rem;
}

.menu-content {
  font-size: 1rem;
  margin-top: 1em;
}

html[data-theme="dark"] .api-content {
  color: white;
}

html[data-theme="dark"] .api-content table td > span,
html[data-theme="dark"] .api-content table td p {
  color: var(--color-orange);
}

html[data-theme="dark"] details table td {
  color: inherit;
}

table td {
  vertical-align: top;
}

html[data-theme="dark"] main .row .col:first-of-type a:not(.button) {
  color: var(--darkmode-link-color);
}

html[data-theme="dark"] main .row .col:first-of-type a:hover {
  filter: brightness(var(--filter-brightness-low));
}

html[data-theme="dark"] main .row .col:first-of-type a article * {
  color: white;
}

html[data-theme="dark"] table td {
  color: white;
}

html[data-theme="dark"] .api-content table td span {
  color: white;
}

html[data-theme="dark"] .hComDo div {
  background: transparent;
}

html[data-theme="dark"] .api-content table td p {
  color: brown;
}

html[data-theme="dark"] .redoc-wrap .menu-content * :not(.operation-type),
html[data-theme="dark"] .redoc-wrap .menu-content,
html[data-theme="dark"] .redoc-wrap .menu-content .search-input {
  color: white !important;
  background-color: transparent !important;
}

html[data-theme="dark"] .redoc-wrap svg {
  filter: brightness(4.5);
}

html[data-theme="dark"] .redoc-markdown pre {
  filter: brightness(1.5);
}

html[data-theme="dark"] input.sc-avest {
  filter: brightness(2.5);
}

.container.home:nth-child(odd) {
  background: var(--color-off-white);
}

html[data-theme="dark"] .container.home {
  background: var(--ifm-background-color) !important;
}

div.collapser {
  color: var(--color-white);
}

h1,
h2,
h3 {
  font-weight: var(--ifm-font-weight-bold);
}

/* V2.0.0-beta.6 style updates */
.padding-top--md {
  padding-top: 2rem !important;
}

code {
  border: none;
  background-color: var(--ifm-color-emphasis-200);
  color: var(--ifm-color-emphasis-900);
}

.main-wrapper .home .col > p {
  font-size: 1.25rem;
}

/* Wish we didn't need to do this... */
h1.docTitle_node_modules-\@docusaurus-theme-classic-src-theme-DocItem- {
  font-size: 2rem;
}

/* Adding FAQ specific links so we can left-justify the FAQ page titles */
a.hash-link-faq:link {
  margin-left: -20px;
  opacity: 0;
}

a.hash-link-faq:visited,
a.hash-link-faq:hover {
  color: var(--docsearch-text-color);
}

a.hash-link-faq:active {
  color: var(--docsearch-text-color);
}

a.hash-link:link,
a.hash-link:visited,
a.hash-link:hover {
  color: var(--docsearch-text-color);
}

/* Deletes the Hash after TOC links that is generated by Docusaurus here for some reason */
ul.table-of-contents .hash-link::before {
  content: "";
  display: none;
}

pre {
  font-size: 14px !important;
}

a.code-link {
  color: var(--color-orange);
  cursor: pointer;
}

a.code-link:hover {
  text-decoration: underline;
}

/* moon/sun icons for dark/light mode */
html[data-theme="light"] svg[class^="lightToggleIcon_"] {
  display: none;
}

html[data-theme="light"] svg[class^="darkToggleIcon_"] {
  display: block;
}

html[data-theme="dark"] svg[class^="lightToggleIcon_"] {
  display: block;
}

html[data-theme="dark"] svg[class^="darkToggleIcon_"] {
  display: none;
}
