
:root {
    --ifm-color-success: #7ec631 !important;
    --ifm-color-info: #0bb !important;
    --ifm-color-warning: #fc0 !important;
    --ifm-color-danger: #ff694b !important;
}

h1, h2, h3 {
    font-family: "dbt-brand"
}

/* Wish we didn't need to do this... */
h1.docTitle_node_modules-\@docusaurus-theme-classic-src-theme-DocItem- {
    font-size: 2rem;
}

a.hash-link:link,
a.hash-link:visited,
a.hash-link:hover
{
    color: black;
}


/* Fix for nav links that break (like dbt Cloud) */
.navbar__brand {
    width: 105px;
}
.navbar__item.navbar__link {
    white-space: nowrap;
}


pre {
    font-size: 14px !important;
}

a.code-link {
    color: #3578e5 !important;
    cursor: pointer;
}

a.code-link:hover {
    text-decoration: underline;
}

nav.navbar,
div.navbar-sidebar__brand
{
    background-color: #033744 !important;
}

nav.navbar a.navbar__link {
    color: #c6d2d5!important;
}

nav.navbar div.navbar__toggle,
nav.navbar a.navbar__link--active
{
    color: white !important;
    font-weight: bold !important;
}

li.menu__list-item a.navbar__link--active
{
    color: black !important;
    font-weight: bold !important;
}

nav.navbar div.navbar__inner {
    margin-left: 10px !important;
}

.featherlight:before {
    height: 5%;
}

.featherlight-content {
    max-width: 75% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    background: transparent !important
}

.featherlight-close-icon {
    background: transparent !important;
    color: white !important;
    font-size: 20px !important;
}


/* Shamelessly copy/pasted from our style guide */

.alert{
    padding:1.5rem 2rem;
    margin-bottom:1.8rem;
    border:1px solid transparent;
    border-radius:4px
}
.alert h4{
    margin-top:0;
    color:inherit
}
.alert .alert-link{
    font-weight:inherit
}
.alert>p,.alert>ul{
    margin-bottom:0
}
.alert>p+p{
    margin-top:5px
}
.alert-default{
    background-color:#fafafa;
    border-color:transparent;
    color:#222
}
.alert-success{
    background-color:#edf7e3;
    border-color:transparent;
    color:#48a71c
}
.alert-success hr{
    border-top-color:transparent
}
.alert-success .alert-link{
    color:#357b15
}
.alert-info{
    background-color:#e3f8f8;
    border-color:transparent;
    color:#009595
}
.alert-info hr{
    border-top-color:transparent
}
.alert-info .alert-link{
    color:#006262
}
.alert-warning{
    background-color:#ffefdb;
    border-color:transparent;
    color:#ff6316
}
.alert-warning hr{
    border-top-color:transparent
}
.alert-warning .alert-link{
    color:#e24b00
}
.alert-danger{
    background-color:#ffe1db;
    border-color:transparent;
    color:#ff3c2b
}
.alert-danger hr{
    border-top-color:transparent
}
.alert-danger .alert-link{
    color:#f71400
}

.linkout {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 18 22.5' version='1.1' x='0px' y='0px'%3E%3Ctitle%3Elink%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M9.24264069,6.41438508 C8.8521164,6.80490937 8.21895142,6.80490937 7.82842712,6.41438508 C7.43790283,6.02386078 7.43790283,5.39069581 7.82842712,5.00017151 L10.6570258,2.17157288 C12.2191229,0.609475708 14.7517828,0.609475708 16.31388,2.17157288 C17.8759772,3.73367004 17.8759772,6.26632996 16.31388,7.82842712 L13.4854529,10.6568542 C13.0949286,11.0473785 12.4617636,11.0473785 12.0712393,10.6568542 C11.680715,10.26633 11.680715,9.63316498 12.0712393,9.24264069 L14.8996664,6.41421356 C15.680715,5.63316498 15.680715,4.36683502 14.8996664,3.58578644 C14.1186179,2.80473785 12.8522879,2.80473785 12.0712393,3.58578644 L9.24264069,6.41438508 Z M9.2428122,12.0710678 C9.63333649,11.6805435 10.2665015,11.6805435 10.6570258,12.0710678 C11.0475501,12.4615921 11.0475501,13.0947571 10.6570258,13.4852814 L7.82842712,16.31388 C6.26632996,17.8759772 3.73367004,17.8759772 2.17157288,16.31388 C0.609475708,14.7517828 0.609475708,12.2191229 2.17157288,10.6570258 L5,7.82859864 C5.39052429,7.43807435 6.02368927,7.43807435 6.41421356,7.82859864 C6.80473785,8.21912293 6.80473785,8.85228791 6.41421356,9.2428122 L3.58578644,12.0712393 C2.80473785,12.8522879 2.80473785,14.1186179 3.58578644,14.8996664 C4.36683502,15.680715 5.63316498,15.680715 6.41421356,14.8996664 L9.2428122,12.0710678 Z M12.0712393,6.41421356 C12.4617636,6.80473785 12.4617636,7.43790283 12.0712393,7.82842712 L7.82859864,12.0710678 C7.43807435,12.4615921 6.80490937,12.4615921 6.41438508,12.0710678 C6.02386078,11.6805435 6.02386078,11.0473785 6.41438508,10.6568542 L10.6570258,6.41421356 C11.0475501,6.02368927 11.680715,6.02368927 12.0712393,6.41421356 Z' fill='%23000000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 2rem 2rem;
    background-position: center;
    content: ' ';
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    vertical-align: middle;
}

.banner-animation {
    /*background-color: #013544;*/
    background-color: #f9fafb;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.banner-animation svg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-width: none;
    max-height: 100vw;
}

@keyframes march {
    100% {
        stroke-dashoffset: 0;
    }
}

.banner-animation svg #lines>* {
    stroke-dasharray: 4px 6px;
    stroke-dashoffset: 60;

    -o-animation: march 8s linear infinite forwards;
    -webkit-animation: march 8s linear infinite forwards;
    animation: march 8s linear infinite forwards;
}

.search {
    width: 100%;
    padding: 10px 0px;
    font-size: 20px;
    border: 0px;
    outline-width: 0px;
}


.menu__link {
    font-size: 14px !important;
    padding: 2px 0px 2px 10px !important;
}

.card.large {
	position: relative;
	height: 250px;
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 5px !important;
}

.card.large .card__header, .card.large .card__body, .card.large .card__footer {
	z-index: 9;
}
.card.large:after {
	position: absolute;
	z-index: 0;
	top: 0px;
	right: -60px;
	width: 60%;
	height: 100%;
	background: rgba(255,255,255,0.1);
	content: "";
	-webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.card.dark {
	background: #005e7a;
	color: #FFF;
}

.card.darker {
	background: #00475c;
}

.card.darkest {
	background: #003645;
}

.card.light {
	background: #ffba94;
	color: #033744;
}

.card.lighter {
	background: #ffa376;
}

.card.lightest {
	background: #ff845e;
}

.card.large .button, .button.help {
	background: #ff845e;
	border-color: #ff845e;
}

.card.large .button:hover, .card.large.light .button:hover {
	background: #FFF;
	border-color: #FFF;
	color: #1c1e21;
}

.card.large.light .button, .button.help:hover {
	background: #033744;
	border-color: #033744;
}

@media (max-width: 996px) {
	.card.large:after {
		width: 30%;
	}
}

@media screen and (max-width: 700px) {
	.card.large {
		height: auto;
		text-align: center;
	}
	.container.container--fluid.home .row {
		margin: calc(2vh) auto !important;
	}
}

@media screen and (max-width: 600px) {
	.card.large:after {
		width: 50%;
	}
}
