
:root {
  --ifm-color-success: #047377 !important;
  --ifm-color-info: #96D7D1 !important;
  --ifm-color-warning: #FF694A !important;
  --ifm-color-danger: #FF694A !important;
  --ifm-font-weight-semibold: 600;
  --ifm-font-weight-bold: 700;
  --ifm-h1-font-size: 2.5rem;
  --ifm-h2-font-size: 2.063rem;
  --ifm-h3-font-size: 1.563rem;
  --ifm-h4-font-size: 1.063rem;
  --ifm-h5-font-size: .938rem;
  --ifm-navbar-height: 94px;
  --ifm-footer-background-color: #4F5D75;
  --ifm-footer-color: #BFC0C0;
  --ifm-link-color: #009999;
  --ifm-link-hover-color: #047377;
  --ifm-button-border-radius: 4px;
  --ifm-menu-color: #262A38;
  --ifm-menu-color-active: #009999;
  --ifm-pagination-nav-color-hover: #047377;
  --ifm-color-info: #047377 !important;
  --ifm-tabs-color-active: #047377;
  --ifm-font-family-monospace: 'Source Code Pro', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --ifm-font-family-base: 'Source Sans Pro', sans-serif;
  --ifm-heading-font-family: 'Source Sans Pro', sans-serif;
  --color-primary-blue: #262A38;
  --color-green-blue: #047377;
  --color-light-teal: #009999;
  --color-light-blue: #96D7D1;
  --color-orange: #FF694A;
  --color-off-white: #EFF2F3;
  --color-nav-text:  #BFC0C0;
}

.container.home:nth-child(odd) {
background: var(--color-off-white);
}

/* For /dbt-cloud/api redoc page */
div.collapser {
  color: white;
}

.admonition h5 {
  text-transform: none;
  font-size: 1rem;
}

.navbar__link--active {
  border-bottom: 1px solid #fff;
  padding: 0px 2px;
  margin-left: 10px;
  margin-right: 10px;
}

h1, h2, h3{
  font-weight: var(--ifm-font-weight-semibold);
}

.navbar__search-input {
color: #505D73;
font-weight: var(--ifm-font-weight-semibold);
font-size: 1rem;
}

.main-wrapper .home .col > p {
font-size: 1.25rem;
}

/* Wish we didn't need to do this... */
h1.docTitle_node_modules-\@docusaurus-theme-classic-src-theme-DocItem- {
  font-size: 2rem;
}

a.hash-link:link,
a.hash-link:visited,
a.hash-link:hover
{
  color: black;
}

footer {
font-weight: var(--ifm-font-weight-bold);
}

/* Fix for nav links that break (like dbt Cloud) */

.navbar__item.navbar__link {
  white-space: nowrap;
}


pre {
  font-size: 14px !important;
}

a.code-link {
  color: var(--color-orange);
  cursor: pointer;
}

a.code-link:hover {
  text-decoration: underline;
}

nav.navbar,
div.navbar-sidebar__brand
{
  background-color: var(--color-primary-blue);
}

nav.navbar a.navbar__link {
  color: var(--color-nav-text);
  font-weight: var(--ifm-font-weight-bold);
  transition: 100ms all ease-in-out;
}

nav.navbar a.navbar__link:hover {
  color: var(--color-light-teal);
}

nav.navbar div.navbar__toggle,
nav.navbar a.navbar__link--active
{
  color: white !important;
  font-weight: bold !important;
}

li.menu__list-item a.navbar__link--active
{
  color: black !important;
  font-weight: bold !important;
}

nav.navbar div.navbar__inner {
  margin-left: 10px !important;
}

.dropdown__link {
font-size: 1rem;
}

.featherlight:before {
  height: 5%;
}

.featherlight-content {
  max-width: 75% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  background: transparent !important
}

.featherlight-close-icon {
  background: transparent !important;
  color: white !important;
  font-size: 20px !important;
}


/* Shamelessly copy/pasted from our style guide */

.alert{
  padding:1.5rem 2rem;
  margin-bottom:1.8rem;
  border:1px solid transparent;
  border-radius:4px
}
.alert h4{
  margin-top:0;
  color:inherit
}
.alert .alert-link{
  font-weight:inherit
}
.alert>p,.alert>ul{
  margin-bottom:0
}
.alert>p+p{
  margin-top:5px
}
.alert-default{
  background-color: var(--color-off-white);
  border-color:transparent;
  color:var(--color-primary-blue)
}
.alert-success{
  background-color: var(--color-off-white);
  border-color:transparent;
  color:var(--color-green-blue);
}
.alert-success hr{
  border-top-color:transparent
}
.alert-success .alert-link{
  color:var(--color-green-blue);
}
.alert-info{
  background-color: var(--color-light-blue);
  border-color: transparent;
  color: var(--color-green-blue);
}
.alert-info hr{
  border-top-color:transparent
}
.alert-info .alert-link{
  color:var(--color-green-blue);
}
.alert-warning{
  background-color:var(--color-off-white);
  border-color:transparent;
  color: var(--color-orange);
}
.alert-warning hr{
  border-top-color:transparent
}
.alert-warning .alert-link{
  color: var(--color-orange);
}
.alert-danger{
  background-color:#ffe1db;
  border-color:transparent;
  color: var(--color-orange);
}
.alert-danger hr{
  border-top-color:transparent
}
.alert-danger .alert-link{
  color: var(--color-orange);
}

.linkout {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 18 22.5' version='1.1' x='0px' y='0px'%3E%3Ctitle%3Elink%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M9.24264069,6.41438508 C8.8521164,6.80490937 8.21895142,6.80490937 7.82842712,6.41438508 C7.43790283,6.02386078 7.43790283,5.39069581 7.82842712,5.00017151 L10.6570258,2.17157288 C12.2191229,0.609475708 14.7517828,0.609475708 16.31388,2.17157288 C17.8759772,3.73367004 17.8759772,6.26632996 16.31388,7.82842712 L13.4854529,10.6568542 C13.0949286,11.0473785 12.4617636,11.0473785 12.0712393,10.6568542 C11.680715,10.26633 11.680715,9.63316498 12.0712393,9.24264069 L14.8996664,6.41421356 C15.680715,5.63316498 15.680715,4.36683502 14.8996664,3.58578644 C14.1186179,2.80473785 12.8522879,2.80473785 12.0712393,3.58578644 L9.24264069,6.41438508 Z M9.2428122,12.0710678 C9.63333649,11.6805435 10.2665015,11.6805435 10.6570258,12.0710678 C11.0475501,12.4615921 11.0475501,13.0947571 10.6570258,13.4852814 L7.82842712,16.31388 C6.26632996,17.8759772 3.73367004,17.8759772 2.17157288,16.31388 C0.609475708,14.7517828 0.609475708,12.2191229 2.17157288,10.6570258 L5,7.82859864 C5.39052429,7.43807435 6.02368927,7.43807435 6.41421356,7.82859864 C6.80473785,8.21912293 6.80473785,8.85228791 6.41421356,9.2428122 L3.58578644,12.0712393 C2.80473785,12.8522879 2.80473785,14.1186179 3.58578644,14.8996664 C4.36683502,15.680715 5.63316498,15.680715 6.41421356,14.8996664 L9.2428122,12.0710678 Z M12.0712393,6.41421356 C12.4617636,6.80473785 12.4617636,7.43790283 12.0712393,7.82842712 L7.82859864,12.0710678 C7.43807435,12.4615921 6.80490937,12.4615921 6.41438508,12.0710678 C6.02386078,11.6805435 6.02386078,11.0473785 6.41438508,10.6568542 L10.6570258,6.41421356 C11.0475501,6.02368927 11.680715,6.02368927 12.0712393,6.41421356 Z' fill='%23000000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 2rem 2rem;
  background-position: center;
  content: ' ';
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  vertical-align: middle;
}

.banner-animation {
  /*background-color: #013544;*/
  background-color: var(--color-off-white);
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.banner-animation svg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  max-width: none;
  max-height: 100vw;
}

@keyframes march {
  100% {
      stroke-dashoffset: 0;
  }
}

.banner-animation svg #lines>* {
  stroke-dasharray: 4px 6px;
  stroke-dashoffset: 60;

  -o-animation: march 8s linear infinite forwards;
  -webkit-animation: march 8s linear infinite forwards;
  animation: march 8s linear infinite forwards;
}

.search {
  width: 100%;
  padding: 10px 0px;
  font-size: 20px;
  border: 0px;
  outline-width: 0px;
}


.menu__link {
  font-size: 1rem;
  padding: 5px 0px 5px 10px !important;
}

.home .row .col--4 {
margin-bottom: 20px;
min-height: 251px;
}
.card.large {
position: relative;
height: 100%;
padding: 20px;
border-radius: 5px !important;
}

.card.large .card__header, .card.large .card__body, .card.large .card__footer {
z-index: 9;
}
.card.large:before {
position: absolute;
z-index: 0;
top: 0;
bottom: 0;
left: -100%;
right: 155px;
background: var(--color-primary-blue);
content: "";
}
.card.large:after {
position: absolute;
z-index: 0;
top: 0;
bottom: 0;
margin: auto 0;
right: 110px;
transform: rotate(45deg);
border-radius: 12.5%;
height: 465px;
width: 465px;
background: var(--color-primary-blue);
content: "";
}

.card {
background: var(--ifm-footer-background-color);
color: #fff;
}

.card.large .button {
font-size: 1.25rem;
font-weight: var(--ifm-font-weight-semibold);
margin-top: .25rem;
}

.card.large .button, .button.help {
background: var(--color-green-blue);
border-color: var(--color-green-blue);
}

.card.large .button:hover {
background: #FFF;
border-color: #FFF;
color: var(--color-green-blue);
}

.card.large.dark .button:hover  {
background: var(--color-light-teal);
border-color: var(--color-light-teal);
color: #fff;
}

.card.large.light .button, .button.help:hover {
background: var(--color-orange);
border-color: var(--color-orange);
}

.card.large.light .button:hover {
background: #DE5D43;
border-color: #DE5D43;
color: #fff;
}

.card.large.light-blue .button {
background: var(--color-light-blue);
border-color: var(--color-light-blue);
color: var(--color-primary-blue);
}

.card.large.light-blue .button:hover {
background: #D9F6F4;
border-color: #D9F6F4;
color: var(--color-primary-blue);
}

.card .card__body {
font-size: 1.125rem;
line-height: 26px;
}

/* Table of Contents */
.table-of-contents__link:hover, .table-of-contents__link:hover code, .table-of-contents__link--active, .table-of-contents__link--active code {
color: var(--ifm-link-hover-color);
}
.table-of-contents {
font-size: .9rem; 
}

/* Pagination */
.pagination-nav__link {
transition: 100ms all ease-in-out;
}

/* Font Sizing Adjustments */
.markdown > p {
  font-size: 1.05rem;
}
.pagination-nav__link {
  font-size: 1.05rem;
}
.title_src-components-file- {
  font-size: 0.813rem !important;
}

@media (min-width: 997px) and (max-width: 1150px) {
nav.navbar a.navbar__link {
  font-size: .9rem;
}
.navbar__search .navbar__search-input {
  max-width: 160px;
}
}

@media screen and (max-width: 700px) {
.card.large {
  height: auto;
  text-align: center;
}
.container.container--fluid.home .row {
  margin: calc(2vh) auto !important;
}
}
