:root {
    --ifm-color-primary: #023644;
    --ifm-color-primary-dark: #02313d;
    --ifm-color-primary-darker: #022e3a;
    --ifm-color-primary-darkest: #012630;
    --ifm-color-primary-light: #023b4b;
    --ifm-color-primary-lighter: #023e4e;
    --ifm-color-primary-lightest: #034658;
}
