.grid--5-col {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--ifm-spacing-horizontal);
}

@media (min-width: 996px) {
  .grid--5-col {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: calc(var(--ifm-spacing-horizontal) * 2);
  }
  @media (min-width: 1500px) {
    .grid--5-col {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: calc(var(--ifm-spacing-horizontal) * 2);
    }
  }
}

.grid--4-col {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--ifm-spacing-horizontal);
}

@media (min-width: 996px) {
  .grid--4-col {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: calc(var(--ifm-spacing-horizontal) * 2);
  }
  @media (min-width: 1500px) {
    .grid--4-col {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: calc(var(--ifm-spacing-horizontal) * 2);
    }
  }
}

.grid--3-col {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--ifm-spacing-horizontal);
}

@media (min-width: 996px) {
  .grid--3-col {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: calc(var(--ifm-spacing-horizontal) * 2);
  }
}

.grid--2-col {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--ifm-spacing-horizontal);
}

@media (min-width: 996px) {
  .grid--2-col {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: calc(var(--ifm-spacing-horizontal) * 2);
  }
}

.justify-content-center {
  justify-content: center !important;
}
