---
title: "Email verification"
description: "dbt Cloud users created via SAML JIT will now confirm identity via email to activate their account."
sidebar_label: "Released: Email verification"
slug: 2022-04-26-email-verification

tags: [v1.1.1, April-26-2022]
---

To enhance the security of user creation, dbt Cloud users created using SAML Just-in-Time (JIT) will now confirm identity via email to activate their account. Using email to confirm identity ensures the user still has access to the same email address they use to login via SAML. 
