---
title: "Email verification"
description: "dbt Cloud users created via SAML JIT will now confirm identity via email to activate their account."
slug: 2022-04-26-email-verification

tags: [release notes]
hide_table_of_contents: false

date: 2022-04-26
is_featured: true
---

dbt Cloud users created via SAML JIT will now confirm identity via email to activate their account. This enhances the security of user creation by ensuring the user still has access to the same email address they use to login via SAML. 
