
@font-face {
    font-family: 'entypo';
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/entypo/entypo-2.woff") format("woff")
}

[data-icon] {
    width: 24px;
    height: 10px;
    display: inline-block;
    vertical-align: middle
}

[data-icon]:before {
    font-family: "entypo";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 18px;
    top: -5px;
    margin-top: -3px;
    position: relative;
    text-align: center;
    display: block;
}

[data-icon].md:before {
    font-size:20px
}

[data-icon].lg {
    width:32px
}

[data-icon].lg:before {
    font-size:32px;
    top:-11px
}

[data-icon].icon-buffer, [data-icon].icon-before {
    margin-right:.5em
}

[data-icon].icon-buffer, [data-icon].icon-after{
    margin-left:.5em
}

[data-icon="note"]:before{content:""}
[data-icon="logo-db"]:before{content:""}
[data-icon="music"]:before{content:""}
[data-icon="search"]:before{content:""}
[data-icon="flashlight"]:before{content:""}
[data-icon="mail"]:before{content:""}
[data-icon="heart"]:before{content:""}
[data-icon="heart-empty"]:before{content:""}
[data-icon="star"]:before{content:""}
[data-icon="star-empty"]:before{content:""}
[data-icon="user"]:before{content:""}
[data-icon="users"]:before{content:""}
[data-icon="user-add"]:before{content:""}
[data-icon="video"]:before{content:""}
[data-icon="picture"]:before{content:""}
[data-icon="camera"]:before{content:"📷"}
[data-icon="layout"]:before{content:""}
[data-icon="menu"]:before{content:""}
[data-icon="check"]:before{content:""}
[data-icon="cancel"]:before{content:""}
[data-icon="cancel-circled"]:before{content:""}
[data-icon="cancel-squared"]:before{content:""}
[data-icon="plus"]:before{content:"+"}
[data-icon="close"]:before{
    content:"+";
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
    -webkit-transform-origin:50% 50%;
    -ms-transform-origin:50% 50%;
    transform-origin:50% 50%
}
[data-icon="plus-circled"]:before{content:""}
[data-icon="plus-squared"]:before{content:""}
[data-icon="minus"]:before{content:"−"}
[data-icon="minus-circled"]:before{content:""}
[data-icon="minus-squared"]:before{content:""}
[data-icon="help"]:before{content:""}
[data-icon="help-circled"]:before{content:""}
[data-icon="info"]:before{content:""}
[data-icon="info-circled"]:before{content:""}
[data-icon="back"]:before{content:""}
[data-icon="home"]:before{content:""}
[data-icon="link"]:before{content:""}
[data-icon="attach"]:before{content:""}
[data-icon="lock"]:before{content:"🔒"}
[data-icon="lock-open"]:before{content:""}
[data-icon="eye"]:before{content:""}
[data-icon="tag"]:before{content:""}
[data-icon="bookmark"]:before{content:"🔖"}
[data-icon="bookmarks"]:before{content:""}
[data-icon="flag"]:before{content:""}
[data-icon="thumbs-up"]:before{content:""}
[data-icon="thumbs-down"]:before{content:""}
[data-icon="download"]:before{content:""}
[data-icon="upload"]:before{content:""}
[data-icon="upload-cloud"]:before{content:""}
[data-icon="reply"]:before{content:""}
[data-icon="reply-all"]:before{content:""}
[data-icon="forward"]:before{content:""}
[data-icon="quote"]:before{content:""}
[data-icon="code"]:before{content:""}
[data-icon="export"]:before{content:""}
[data-icon="pencil"]:before{content:"✏"}
[data-icon="feather"]:before{content:""}
[data-icon="print"]:before{content:""}
[data-icon="retweet"]:before{content:""}
[data-icon="keyboard"]:before{content:"⌨"}
[data-icon="comment"]:before{content:""}
[data-icon="chat"]:before{content:""}
[data-icon="bell"]:before{content:"🔔"}
[data-icon="attention"]:before{content:""}
[data-icon="alert"]:before{content:""}
[data-icon="vcard"]:before{content:""}
[data-icon="address"]:before{content:""}
[data-icon="location"]:before{content:""}
[data-icon="map"]:before{content:""}
[data-icon="direction"]:before{content:""}
[data-icon="compass"]:before{content:""}
[data-icon="cup"]:before{content:""}
[data-icon="trash"]:before{content:""}
[data-icon="doc"]:before{content:""}
[data-icon="docs"]:before{content:""}
[data-icon="doc-landscape"]:before{content:""}
[data-icon="doc-text"]:before{content:""}
[data-icon="doc-text-inv"]:before{content:""}
[data-icon="newspaper"]:before{content:"📰"}
[data-icon="book-open"]:before{content:""}
[data-icon="book"]:before{content:""}
[data-icon="folder"]:before{content:""}
[data-icon="archive"]:before{content:""}
[data-icon="box"]:before{content:""}
[data-icon="rss"]:before{content:""}
[data-icon="phone"]:before{content:""}
[data-icon="cog"]:before{content:""}
[data-icon="tools"]:before{content:""}
[data-icon="share"]:before{content:""}
[data-icon="shareable"]:before{content:""}
[data-icon="basket"]:before{content:""}
[data-icon="bag"]:before{content:""}
[data-icon="calendar"]:before{content:"📅"}
[data-icon="login"]:before{content:""}
[data-icon="logout"]:before{content:""}
[data-icon="mic"]:before{content:""}
[data-icon="mute"]:before{content:""}
[data-icon="sound"]:before{content:""}
[data-icon="volume"]:before{content:""}
[data-icon="clock"]:before{content:""}
[data-icon="hourglass"]:before{content:"⌛"}
[data-icon="lamp"]:before{content:""}
[data-icon="light-down"]:before{content:""}
[data-icon="light-up"]:before{content:""}
[data-icon="adjust"]:before{content:""}
[data-icon="block"]:before{content:"█"}
[data-icon="resize-full"]:before{content:""}
[data-icon="resize-small"]:before{content:""}
[data-icon="popup"]:before{content:""}
[data-icon="publish"]:before{content:""}
[data-icon="window"]:before{content:""}
[data-icon="arrow-combo"]:before{content:""}
[data-icon="down-circled"]:before{content:""}
[data-icon="left-circled"]:before{content:""}
[data-icon="right-circled"]:before{content:""}
[data-icon="up-circled"]:before{content:""}
[data-icon="down-open"]:before{content:""}
[data-icon="left-open"]:before{content:""}
[data-icon="right-open"]:before{content:""}
[data-icon="up-open"]:before{content:""}
[data-icon="down-open-mini"]:before{content:""}
[data-icon="left-open-mini"]:before{content:""}
[data-icon="right-open-mini"]:before{content:""}
[data-icon="up-open-mini"]:before{content:""}
[data-icon="down-open-big"]:before{content:""}
[data-icon="left-open-big"]:before{content:""}
[data-icon="right-open-big"]:before{content:""}
[data-icon="up-open-big"]:before{content:""}
[data-icon="down"]:before{content:""}
[data-icon="left"]:before{content:""}
[data-icon="right"]:before{content:""}
[data-icon="up"]:before{content:""}
[data-icon="down-dir"]:before{content:""}
[data-icon="left-dir"]:before{content:""}
[data-icon="right-dir"]:before{content:""}
[data-icon="up-dir"]:before{content:""}
[data-icon="down-bold"]:before{content:""}
[data-icon="left-bold"]:before{content:""}
[data-icon="right-bold"]:before{content:""}
[data-icon="up-bold"]:before{content:""}
[data-icon="down-thin"]:before{content:""}
[data-icon="left-thin"]:before{content:""}
[data-icon="note-beamed"]:before{content:""}
[data-icon="up-thin"]:before{content:""}
[data-icon="cw"]:before{content:""}
[data-icon="arrows-ccw"]:before{content:""}
[data-icon="level-down"]:before{content:""}
[data-icon="level-up"]:before{content:""}
[data-icon="shuffle"]:before{content:""}
[data-icon="loop"]:before{content:""}
[data-icon="switch"]:before{content:""}
[data-icon="play"]:before{content:""}
[data-icon="stop"]:before{content:""}
[data-icon="pause"]:before{content:""}
[data-icon="record"]:before{content:""}
[data-icon="to-end"]:before{content:""}
[data-icon="to-start"]:before{content:""}
[data-icon="fast-forward"]:before{content:""}
[data-icon="fast-backward"]:before{content:""}
[data-icon="progress-0"]:before{content:""}
[data-icon="progress-1"]:before{content:""}
[data-icon="progress-2"]:before{content:""}
[data-icon="progress-3"]:before{content:""}
[data-icon="target"]:before{content:""}
[data-icon="palette"]:before{content:""}
[data-icon="list"]:before{content:""}
[data-icon="list-add"]:before{content:""}
[data-icon="signal"]:before{content:""}
[data-icon="trophy"]:before{content:"🏆"}
[data-icon="battery"]:before{content:"🔋"}
[data-icon="back-in-time"]:before{content:""}
[data-icon="monitor"]:before{content:""}
[data-icon="mobile"]:before{content:""}
[data-icon="network"]:before{content:""}
[data-icon="cd"]:before{content:""}
[data-icon="inbox"]:before{content:""}
[data-icon="install"]:before{content:""}
[data-icon="globe"]:before{content:""}
[data-icon="cloud"]:before{content:"☁"}
[data-icon="cloud-thunder"]:before{content:""}
[data-icon="flash"]:before{content:""}
[data-icon="moon"]:before{content:""}
[data-icon="flight"]:before{content:""}
[data-icon="paper-plane"]:before{content:""}
[data-icon="leaf"]:before{content:""}
[data-icon="lifebuoy"]:before{content:""}
[data-icon="mouse"]:before{content:"🐁"}
[data-icon="briefcase"]:before{content:"💼"}
[data-icon="suitcase"]:before{content:""}
[data-icon="dot"]:before{content:""}
[data-icon="dot-2"]:before{content:""}
[data-icon="dot-3"]:before{content:""}
[data-icon="brush"]:before{content:""}
[data-icon="magnet"]:before{content:""}
[data-icon="infinity"]:before{content:"∞"}
[data-icon="erase"]:before{content:""}
[data-icon="chart-pie"]:before{content:""}
[data-icon="chart-line"]:before{content:""}
[data-icon="chart-bar"]:before{content:""}
[data-icon="chart-area"]:before{content:""}
[data-icon="tape"]:before{content:""}
[data-icon="graduation-cap"]:before{content:""}
[data-icon="language"]:before{content:""}
[data-icon="ticket"]:before{content:"🎫"}
[data-icon="water"]:before{content:""}
[data-icon="droplet"]:before{content:"💧"}
[data-icon="air"]:before{content:""}
[data-icon="credit-card"]:before{content:""}
[data-icon="floppy"]:before{content:""}
[data-icon="clipboard"]:before{content:"📋"}
[data-icon="megaphone"]:before{content:""}
[data-icon="database"]:before{content:""}
[data-icon="drive"]:before{content:""}
[data-icon="bucket"]:before{content:""}
[data-icon="thermometer"]:before{content:""}
[data-icon="key"]:before{content:"🔑"}
[data-icon="flow-cascade"]:before{content:""}
[data-icon="flow-branch"]:before{content:""}
[data-icon="flow-tree"]:before{content:""}
[data-icon="flow-line"]:before{content:""}
[data-icon="flow-parallel"]:before{content:""}
[data-icon="rocket"]:before{content:"🚀"}
[data-icon="gauge"]:before{content:""}
[data-icon="traffic-cone"]:before{content:""}
[data-icon="cc"]:before{content:""}
[data-icon="cc-by"]:before{content:""}
[data-icon="cc-nc"]:before{content:""}
[data-icon="cc-nc-eu"]:before{content:""}
[data-icon="cc-nc-jp"]:before{content:""}
[data-icon="cc-sa"]:before{content:""}
[data-icon="cc-nd"]:before{content:""}
[data-icon="cc-pd"]:before{content:""}
[data-icon="cc-zero"]:before{content:""}
[data-icon="cc-share"]:before{content:""}
[data-icon="cc-remix"]:before{content:""}
[data-icon="github"]:before{content:""}
[data-icon="github-circled"]:before{content:""}
[data-icon="flickr"]:before{content:""}
[data-icon="flickr-circled"]:before{content:""}
[data-icon="vimeo"]:before{content:""}
[data-icon="vimeo-circled"]:before{content:""}
[data-icon="twitter"]:before{content:""}
[data-icon="twitter-circled"]:before{content:""}
[data-icon="facebook"]:before{content:""}
[data-icon="facebook-circled"]:before{content:""}
[data-icon="facebook-squared"]:before{content:""}
[data-icon="gplus"]:before{content:""}
[data-icon="gplus-circled"]:before{content:""}
[data-icon="pinterest"]:before{content:""}
[data-icon="pinterest-circled"]:before{content:""}
[data-icon="tumblr"]:before{content:""}
[data-icon="tumblr-circled"]:before{content:""}
[data-icon="linkedin"]:before{content:""}
[data-icon="linkedin-circled"]:before{content:""}
[data-icon="dribbble"]:before{content:""}
[data-icon="dribbble-circled"]:before{content:""}
[data-icon="stumbleupon"]:before{content:""}
[data-icon="stumbleupon-circled"]:before{content:""}
[data-icon="lastfm"]:before{content:""}
[data-icon="lastfm-circled"]:before{content:""}
[data-icon="rdio"]:before{content:""}
[data-icon="rdio-circled"]:before{content:""}
[data-icon="spotify"]:before{content:""}
[data-icon="spotify-circled"]:before{content:""}
[data-icon="qq"]:before{content:""}
[data-icon="instagram"]:before{content:""}
[data-icon="dropbox"]:before{content:""}
[data-icon="evernote"]:before{content:""}
[data-icon="flattr"]:before{content:""}
[data-icon="skype"]:before{content:""}
[data-icon="skype-circled"]:before{content:""}
[data-icon="renren"]:before{content:""}
[data-icon="sina-weibo"]:before{content:""}
[data-icon="paypal"]:before{content:""}
[data-icon="picasa"]:before{content:""}
[data-icon="soundcloud"]:before{content:""}
[data-icon="mixi"]:before{content:""}
[data-icon="behance"]:before{content:""}
[data-icon="google-circles"]:before{content:""}
[data-icon="vkontakte"]:before{content:""}
[data-icon="smashing"]:before{content:""}
[data-icon="sweden"]:before{content:""}
[data-icon="db-shape"]:before{content:""}
[data-icon="bitbucket"]:before{content:"€"}
[data-icon="slack"]:before{content:"$"}
[data-icon="fishtown"]:before{content:"¢"}
[data-icon="discourse"]:before{content:"£"}
