/* Topics Section */
.discourseTopics {
  margin: 2rem 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--ifm-menu-color-background-active);
  padding: 20px;
  border-radius: 10px;
}
[data-theme="dark"] .discourseTopics {
  background: #333B47;
}
.discourseTopics:last-of-type {
  margin-bottom: 0;
}
.discourseTopics .solvedTopic {
  font-size: .8rem;
}
.discourseTopics .solvedTopic:hover {
  cursor: default;
}
.discourseTopics ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.discourseTopics blockquote {
  border-left: 1px solid var(--ifm-toc-border-color);
}
.discourseTopics ul li {
  padding: 1rem 0;
  border-bottom: 1px solid var(--ifm-toc-border-color);
}
.discourseTopics ul li:first-of-type {
  padding-top: 0;
}
.discourseTopics ul li:last-of-type {
  border-bottom: none;
}
.discourseTopics ul li a {
  font-weight: 600;
  font-size: 18px;
}
[data-theme="dark"] .discourseTopics ul li a {
  color: #91D0CB;
}
.discourseTopics blockquote {
  margin-bottom: 0;
}

/* Cta */
.discourseCta {
  font-size: 1.1rem;
  margin-top: auto;
  color: #fff;
}
.discourseCta:hover {
  background: var(--color-light-teal);
  color: #fff;
}

/* Loading icon */
.discourseTopics .loadingIcon {
  max-width: 100px;
  display: block;
}

