.term {
  position: relative;
  text-decoration: underline dotted var(--ifm-font-color-base);
}
.term:hover {
  text-decoration: underline dotted var(--ifm-link-color);
}
.termToolTip {
  background: var(--color-primary-blue) !important;
  font-size: .9rem !important;
  color: #fff !important;
  max-width: 400px;
  font-style: normal;
}
