
:local(.alert) {
    border-left: 4px solid;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 0px !important;
}

:local(.info) {
    background-color: #e3f8f8 !important;
    color: #009595 !important;
}

:local(.danger) {
    background-color: #ffe1db !important;
    color: #ff3c2b !important;
}

:local(.warning) {
    background-color: #ffefdb !important;
    color: #ff6316 !important;
}

:local(.success) {
    background-color: #edf7e3 !important;
    color: #48a71c !important;
}
