
:local(.wrapper pre) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

:local(.title) {
    background-color: #f9fbfc;
    color: rgb(1, 22, 39);

    border: 1px solid #dddddd;
    border-bottom: 0px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    padding: 7px;
    font-size: 12px;
}

:local(html[data-theme='dark'] .title) {
    background-color: var(--ifm-menu-color-background-active);
    border: 1px solid var(--ifm-menu-color-background-active);
    color: white;
}

:local(.titleInner) {
    margin: 4px 8px;
}

:local(.icon) {
    vertical-align: middle;
    margin-right: 5px;
    fill: #8a949d;
}
