.quickstartTitle {
    
}

.tocList {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 370px;
    flex-shrink: 0;
    padding-right: 4rem;
    margin-right: 4rem;
    border-right: solid 4px #EFF2F3;
}

.tocList li {
    padding: 1rem;
    display: block;
    box-shadow: 0px 10px 16px 0px rgba(31, 41, 55, 0.10);
    border-radius: 8px;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 5fr;
    cursor: pointer;
    color: var(--color-primary-blue);
    text-decoration: none;
}

.tocList li span {
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 27px;
    color: var(--color-green-blue);
    border: solid 1px var(--color-green-blue);
    margin-bottom: auto;
}

.tocList .active span {
    background: var( --color-green-blue);
    color: var(--color-white);
}

html[data-theme="dark"] .tocList li {
    color: var(--color-white);
}

html[data-theme="dark"] .tocList li span {
    border-color: var(--color-white);
    color: var(--color-white);
}

html[data-theme="dark"] .tocList .active span {
    border-color: var(--color-green-blue);
}

.tocItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.buttonContainer a {
    padding: .5rem;
    cursor: pointer;
    transition-property: color, background, border-color;
    transition-duration: var(--ifm-button-transition-duration);
    transition-timing-function: var(--ifm-transition-timing-default);
    border: 2px solid var(--color-green-blue);
    color: var(--color-green-blue);
    border-radius: 5px;
    width: 125px;
    text-align: center;
}

.stepWrapper .buttonContainer a:hover {
    background: var(--color-green-blue);
    color: var(--color-white);
}

html[data-theme="dark"] .stepWrapper .buttonContainer a:hover {
    color: var(--color-white) !important;
}

.buttonContainer .prevButton {
    margin-right: auto;
}

.buttonContainer .prevButton i {
    font-size: .8rem;
    margin-right: .4rem;
}

.buttonContainer .nextButton {
    margin-left: auto;
}

.buttonContainer .nextButton i {
    font-size: .8rem;
    margin-left: .4rem;
}

.stepWrapper[data-step="1"] a.nextButton {
    background: var(--color-green-blue);
    color: var(--color-white);
}

html[data-theme="dark"] .stepWrapper[data-step="1"] a.nextButton {
    color: var(--color-white) !important;
}

.stepWrapper.hidden {
    display: none;
}

.hidden {
    display: none;
}

.toc_menu_btn {
    display: none;
}

.toc_menu_btn i {
    transform: rotate(-90deg);
    vertical-align: middle;
}

@media (max-width: 996px) {
    .tocList {
        width: 100%;
        padding-right: 0;
        margin-bottom: 2rem;
        display: none;
    }

    .toc_menu_btn {
        display: inline-block;
        margin-bottom: 2rem;
        cursor: pointer;
    }
}
