.quickstartTitle {
    padding: 1rem 0 2rem;
}

.tocList {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 370px;
    flex-shrink: 0;
    padding-right: 3rem;
}

.tocList li {
    padding: 1rem;
    display: block;
    border: 1px solid #EFF2F3;
    box-shadow: 0px 11px 24px rgba(138, 138, 138, 0.1), 0px 0px 0px rgba(138, 138, 138, 0.1);
    border-radius: 10px;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 5fr;
    cursor: pointer;
    color: var(--color-primary-blue);
    text-decoration: none;
}

.tocList li span {
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 27px;
    color: var(--color-light-teal);
    border: solid 1px var(--color-light-teal);
    margin-bottom: auto;
}

.tocList .active span {
    background: var(--color-light-teal);
    color: var(--color-white);
}

html[data-theme="dark"] .tocList li {
    color: var(--color-white);
}

html[data-theme="dark"] .tocList li span {
    border-color: var(--color-white);
    color: var(--color-white);
}

html[data-theme="dark"] .tocList .active span {
    border-color: var(--color-light-teal);
}

.tocItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.buttonContainer a {
    padding: .5rem;
    cursor: pointer;
    transition-property: color, background, border-color;
    transition-duration: var(--ifm-button-transition-duration);
    transition-timing-function: var(--ifm-transition-timing-default);
    border: 2px solid var(--color-light-teal);
    border-radius: 5px;
    width: 125px;
    text-align: center;
}

.buttonContainer a:hover {
    background: var(--color-light-teal);
    color: var(--color-white)
}

.buttonContainer .prevButton {
    margin-right: auto;
}

.buttonContainer .nextButton {
    margin-left: auto;
}

.stepWrapper[data-step="1"] .nextButton {
    background: var(--color-light-teal);
    color: var(--color-white)
}

.stepWrapper.hidden {
    display: none;
}

.hidden {
    display: none;
}

@media (max-width: 996px) {
    .tocList {
        width: 100%;
        padding-right: 0;
        margin-bottom: 2rem;
        height: 160px;
        overflow-y: auto;
    }
}
