.commentContainer {

}

.commentContainer h4 {
    font-size: 2rem;
    margin-top: 3rem;
}

.commentContainer ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.commentContainer ul li {
    margin-bottom: 2rem;
}

.commentContainer .username {
    font-weight: 700;
}

.commentContainer .userTitle {
    opacity: .7;
} 

/* Cta */
.discourseCta {
    font-size: 1.1rem;
    margin-top: auto;
    color: #fff;
    border: none;
  }
.discourseCta:hover {
  background: var(--color-light-teal);
  color: #fff;
}

