name: Add Issue to Project

on:
  issues:
    types: [opened, reopened]

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.5.0
        with:
          project-url: https://github.com/orgs/dbt-labs/projects/14 
          github-token: ${{ secrets.DOCS_SECRET }}
