name: Check Markdown Links

on:
  schedule:
    # Run every Monday morning at 6:00AM UTC
    - cron: '0 6 * * 1'

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Link Checker
        uses: lycheeverse/lychee-action@master
        with:
          args: --verbose --no-progress './website/**/*.md' --accept 429
